*configuration 4.2                              # ESP-r model configuration
*date Wed Nov  9 21:41:49 2022                  # latest modification
*base_name CMRnZEB                              # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*mat ../dbs/CMRnZEB.materialdb
*stdcfcdb CFClayers.db2.a
*mlc ../dbs/CMRnZEB.constrdb
*opt ../dbs/CMRnZEB.opticdb
*stdprs pressc.db1
*stdevn profiles.db2.a
*clm ../dbs/Dla_LT
*mscldb ../dbs/CMRnZEB.miscdb
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/CMRnZEB.log                       # associated notes about the project
*contents CMRnZEB_002_nc1_c000_cw_noPCM_test.contents  # contents report for the project
#
# ---- year and seasons ----
*year 2018                                      # assessment year
# 
# ---- project day types ----
*daytag weekdays, weekdays (all year), 260      # day type name, menu entry, instances
*daytag saturday, Saturdays (all year),  52
*daytag sunday, Sundays (all year),  52
*daytag holiday, holiday,   1
*day_types    4                                 # day types & type for each day of year
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1
#
# ---- site ----
*latlong   4.051   -5.232                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
*ground
*mgp   3
  26.40  27.10  27.80  28.10  28.40  28.10  27.60  26.80  26.10  25.70  25.50  25.80
  26.30  26.80  27.30  27.70  28.00  28.00  27.70  27.10  26.60  26.10  25.90  26.00
  26.40  26.70  27.00  27.30  27.60  27.70  27.60  27.30  26.90  26.50  26.30  26.20
*ground_end
*surf_heat_transfer     1    1                  # default methods for inside & outside htc
#
# ---- model controls ----
*ctl ../ctl/nc1.ctl                             # model control file
*rif ../rad/CMRnZEB.rcf
*spf ../dbs/CT_noPCM.spm
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    1   2   4  10   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    7  10  10   4   0  15   2  17   2  day  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr CMRnZEB.res
*sflr CMRnZEB.mfr
#
# ---- building attributes ----
*vew   -100.0  -100.0   100.0     8.0     5.4     2.2  8.1
*building  Building Zero/Plus Energy Performance
*zones   19                                     # number of zones
*zon   1                                        # reference for Cellar
*opr ../zones/Cellar.opr                        # schedules
*geo ../zones/Cellar.geo                        # geometry
*con ../zones/Cellar.con                        # constructions
*zon   2                                        # reference for WC
*opr ../zones/WC.opr
*geo ../zones/WC.geo
*con ../zones/WC.con
*tmc ../zones/WC.tmc                            # transparent constructions
*isi ../zones/WC.shd                            # pre-constructed S/I file
*zon   3                                        # reference for Garage
*opr ../zones/Garage.opr
*geo ../zones/Garage.geo
*con ../zones/Garage.con
*tmc ../zones/Garage.tmc
*zon   4                                        # reference for BedRoom_1
*opr ../zones/Room1.opr
*geo ../zones/BedRoom1.geo
*con ../zones/Room1.con
*tmc ../zones/BedRoom_1.tmc
*isi ../zones/BedRoom_1.shd
*zon   5                                        # reference for Bath1
*opr ../zones/Bath1.opr
*geo ../zones/Bath1.geo
*con ../zones/Bath1.con
*tmc ../zones/Bath1.tmc
*zon   6                                        # reference for Salon
*opr ../zones/Salon.opr
*geo ../zones/Salon.geo
*con ../zones/Salon.con
*tmc ../zones/Salon.tmc
*ivf ../zones/Salon.vwf                         # view factors
*isi ../zones/Salon.shd
*zon   7                                        # reference for Kitchen
*opr ../zones/Kitchen.opr
*geo ../zones/Kitchen.geo
*con ../zones/Kitchen.con
*tmc ../zones/Kitchen.tmc
*isi ../zones/Kitchen.shd
*zon   8                                        # reference for BedRoom_3
*opr ../zones/BedRoom_3.opr
*geo ../zones/BedRoom_3.geo
*con ../zones/BedRoom_3.con
*tmc ../zones/BedRoom_3.tmc
*isi ../zones/BedRoom_3.shd
*zon   9                                        # reference for BedRoom_2
*opr ../zones/BedRoom_2.opr
*geo ../zones/BedRoom_2.geo
*con ../zones/BedRoom_2.con
*tmc ../zones/BedRoom_2.tmc
*isi ../zones/BedRoom_2.shd
*zon  10                                        # reference for BathRoom_2
*opr ../zones/BathRoom_2.opr
*geo ../zones/BathRoom_2.geo
*con ../zones/BathRoom_2.con
*zon  11                                        # reference for Roof
*opr ../zones/Roof.opr
*geo ../zones/Roof.geo
*con ../zones/Roof.con
*zon  12                                        # reference for R_Pvt_1
*opr ../zones/R_Pvt_1.opr
*geo ../zones/Pvt_1.geo
*con ../zones/Pvt_1.con
*tmc ../zones/R_Pvt_1.tmc
*zon  13                                        # reference for R_Pvt_2
*opr ../zones/R_Pvt_2.opr
*geo ../zones/Pvt_4.geo
*con ../zones/Pvt_2.con
*tmc ../zones/R_Pvt_2.tmc
*zon  14                                        # reference for R_Pvt_3
*opr ../zones/R_Pvt_3.opr
*geo ../zones/R_Pvt_3.geo
*con ../zones/R_Pvt_3.con
*tmc ../zones/R_Pvt_3.tmc
*zon  15                                        # reference for R_Pvt_4
*opr ../zones/R_Pvt_4.opr
*geo ../zones/R_Pvt_4.geo
*con ../zones/R_Pvt_4.con
*tmc ../zones/R_Pvt_4.tmc
*zon  16                                        # reference for R_Pvt_5
*opr ../zones/R_Pvt_5.opr
*geo ../zones/R_Pvt_5.geo
*con ../zones/R_Pvt_5.con
*tmc ../zones/R_Pvt_5.tmc
*zon  17                                        # reference for R_Pvt_6
*opr ../zones/R_Pvt_6.opr
*geo ../zones/R_Pvt_6.geo
*con ../zones/R_Pvt_6.con
*tmc ../zones/R_Pvt_6.tmc
*zon  18                                        # reference for R_Pvt_7
*opr ../zones/R_Pvt_7.opr
*geo ../zones/R_Pvt_7.geo
*con ../zones/R_Pvt_7.con
*tmc ../zones/R_Pvt_7.tmc
*zon  19                                        # reference for R_Pvt_8
*opr ../zones/R_Pvt_8.opr
*geo ../zones/R_Pvt_8.geo
*con ../zones/R_Pvt_8.con
*tmc ../zones/R_Pvt_8.tmc
#
# ---- building topology ----
*cnn CMRnZEB.cnn                                # surface connections file
#
# ---- networks ----
*flow legacy                                    # legacy fluid flow network
../nets/CMRnZEB.afn # flow network file
 cellar,wc,garage,bed_1,bth_1,salon,kitchen,bed_3,bed_2,bth_2,roof,0,0,0,0,0,0,0,0
*plant none                                     # no system network
