*configuration 4.2                              # ESP-r model configuration
*date Sat Sep 26 17:09:28 2026                  # latest modification
*base_name PVT_Douala                           # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*mat ../dbs/Douala_mat.db.a
*stdcfcdb CFClayers.db2.a
*mlc ../dbs/Douala_con.db
*opt ../dbs/Douala_optics.db2
*stdprs pressc.db1
*stdevn profiles.db2.a
*clm ../dbs/Douala
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/PVT_Douala.log                    # associated notes about the project
*contents PVT_Douala.contents                   # contents report for the project
#
# ---- year and seasons ----
*year 2006                                      # assessment year
# 
# ---- project day types ----
*daytag weekdays, weekdays (all year), 260      # day type name, menu entry, instances
*daytag saturday, Saturdays (all year),  52
*daytag sunday, Sundays (all year),  52
*daytag holiday, holiday,   1
*day_types    4                                 # day types & type for each day of year
 4,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3
#
# ---- site ----
*latlong   4.042   -5.257                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
*surf_heat_transfer     1    1                  # default methods for inside & outside htc
#
# ---- model controls ----
*ctl ../ctl/PVT_Douala.ctl                      # model control file
*rif ../rad/PVT_Douala.rcf
*spf ../dbs/PV_panels_1.spm
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    1  21   4  10   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    5  10  10   4   0   9   1  15   1  default  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr PVT_Douala.res
*sflr PVT_Douala.mfr
#
# ---- building attributes ----
*building  Small model as cross check on PVT performance in Douala
*zones   21                                     # number of zones
*zon   1                                        # reference for Z00
*opr ../zones/Z00.opr                           # schedules
*geo ../zones/Z00.geo                           # geometry
*con ../zones/Z00.con                           # constructions
*zon   2                                        # reference for Z00_PVT_W1
*opr ../zones/Z00_PVT_W1.opr
*geo ../zones/Z00_PVT_W1.geo
*con ../zones/Z00_PVT_W1.con
*tmc ../zones/Z00_PVT_W1.tmc                    # transparent constructions
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon   3                                        # reference for Z00_PVT_W2
*opr ../zones/Z00_PVT_W2.opr
*geo ../zones/Z00_PVT_W2.geo
*con ../zones/Z00_PVT_W2.con
*tmc ../zones/Z00_PVT_W2.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon   4                                        # reference for Z00_PVT_W3
*opr ../zones/Z00_PVT_W3.opr
*geo ../zones/Z00_PVT_W3.geo
*con ../zones/Z00_PVT_W3.con
*tmc ../zones/Z00_PVT_W3.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon   5                                        # reference for Z00_PVT_E1
*opr ../zones/Z00_PVT_E1.opr
*geo ../zones/Z00_PVT_E1.geo
*con ../zones/Z00_PVT_E1.con
*tmc ../zones/Z00_PVT_E1.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon   6                                        # reference for Z00_PVT_E2
*opr ../zones/Z00_PVT_E2.opr
*geo ../zones/Z00_PVT_E2.geo
*con ../zones/Z00_PVT_E2.con
*tmc ../zones/Z00_PVT_E2.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon   7                                        # reference for Z00_PVT_E3
*opr ../zones/Z00_PVT_E3.opr
*geo ../zones/Z00_PVT_E3.geo
*con ../zones/Z00_PVT_E3.con
*tmc ../zones/Z00_PVT_E3.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon   8                                        # reference for Z20
*opr ../zones/Z00.opr
*geo ../zones/Z20.geo
*con ../zones/Z00.con
*zon   9                                        # reference for Z20_PVT_W1
*opr ../zones/Z00_PVT_W1.opr
*geo ../zones/Z20_PVT_W1.geo
*con ../zones/Z00_PVT_W1.con
*tmc ../zones/Z00_PVT_W1.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon  10                                        # reference for Z20_PVT_W2
*opr ../zones/Z00_PVT_W2.opr
*geo ../zones/Z20_PVT_W2.geo
*con ../zones/Z00_PVT_W2.con
*tmc ../zones/Z00_PVT_W2.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon  11                                        # reference for Z20_PVT_W3
*opr ../zones/Z00_PVT_W3.opr
*geo ../zones/Z20_PVT_W3.geo
*con ../zones/Z00_PVT_W3.con
*tmc ../zones/Z00_PVT_W3.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon  12                                        # reference for Z20_PVT_E1
*opr ../zones/Z00_PVT_E1.opr
*geo ../zones/Z20_PVT_E1.geo
*con ../zones/Z00_PVT_E1.con
*tmc ../zones/Z00_PVT_E1.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon  13                                        # reference for Z20_PVT_E2
*opr ../zones/Z00_PVT_E2.opr
*geo ../zones/Z20_PVT_E2.geo
*con ../zones/Z00_PVT_E2.con
*tmc ../zones/Z00_PVT_E2.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon  14                                        # reference for Z20_PVT_E3
*opr ../zones/Z00_PVT_E3.opr
*geo ../zones/Z20_PVT_E3.geo
*con ../zones/Z00_PVT_E3.con
*tmc ../zones/Z00_PVT_E3.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon  15                                        # reference for Z40
*opr ../zones/Z00.opr
*geo ../zones/Z40.geo
*con ../zones/Z00.con
*zon  16                                        # reference for Z40_PVT_W1
*opr ../zones/Z00_PVT_W1.opr
*geo ../zones/Z40_PVT_W1.geo
*con ../zones/Z00_PVT_W1.con
*tmc ../zones/Z00_PVT_W1.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon  17                                        # reference for Z40_PVT_W2
*opr ../zones/Z00_PVT_W2.opr
*geo ../zones/Z40_PVT_W2.geo
*con ../zones/Z00_PVT_W2.con
*tmc ../zones/Z00_PVT_W2.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon  18                                        # reference for Z40_PVT_W3
*opr ../zones/Z00_PVT_W3.opr
*geo ../zones/Z40_PVT_W3.geo
*con ../zones/Z00_PVT_W3.con
*tmc ../zones/Z00_PVT_W3.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon  19                                        # reference for Z40_PVT_E1
*opr ../zones/Z00_PVT_E1.opr
*geo ../zones/Z40_PVT_E1.geo
*con ../zones/Z00_PVT_E1.con
*tmc ../zones/Z00_PVT_E1.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon  20                                        # reference for Z40_PVT_E2
*opr ../zones/Z00_PVT_E2.opr
*geo ../zones/Z40_PVT_E2.geo
*con ../zones/Z00_PVT_E2.con
*tmc ../zones/Z00_PVT_E2.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
*zon  21                                        # reference for Z40_PVT_E3
*opr ../zones/Z00_PVT_E3.opr
*geo ../zones/Z40_PVT_E3.geo
*con ../zones/Z00_PVT_E3.con
*tmc ../zones/Z00_PVT_E3.tmc
*ihc ../zones/Zxx_PVT.htc                       # convective heat transfer coefficient file
#
# ---- building topology ----
*cnn PVT_Douala.cnn                             # surface connections file
#
# ---- networks ----
*flow legacy                                    # legacy fluid flow network
../nets/no_flow_S.afn # flow network file
 0,Z00_PVT_W1,Z00_PVT_W2,Z00_PVT_W3,Z00_PVT_E1,Z00_PVT_E2,Z00_PVT_E3,0,Z20_PVT_W1,Z20_PVT_W2,Z20_PVT_W3,Z20_PVT_E1, 
 Z20_PVT_E2,Z20_PVT_E3,0,Z40_PVT_W1,Z40_PVT_W2,Z40_PVT_W3,Z40_PVT_E1,Z40_PVT_E2,Z40_PVT_E3
*plant none                                     # no system network
