* CONFIGURATION4.0
# ESRU system configuration defined by file 
# PVT_Douala.cfg
*date Fri Jan 31 15:02:12 2020  # latest file modification 
*root PVT_Douala
*zonpth  ../zones                  # path to zones
*netpth  ../nets                   # path to networks
*ctlpth  ../ctl                    # path to controls
*aimpth ../aim2                   # path to aim2 files
*radpth ../rad                    # path to radiance files
*imgpth  ../images                 # path to project images
*docpth  ../doc                    # path to project documents
*dbspth  ../dbs                    # path to local databases
*hvacpth ../hvac                   # path to hvac files
*bsmpth ../bsm                    # path to BASESIMP files
*radcore  1  # number of cores available to Radiance
*indx    1 # Building only
  4.042   -5.257   # Latitude & Longitude (diff from time meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*mat  ../dbs/Douala_mat.db.a
*stdcfcdb  CFClayers.db2.a
*mlc  ../dbs/Douala_con.db
*opt  ../dbs/Douala_optics.db2
*stdprs  pressc.db1
*stdevn  profiles.db2.a
*clm  ../dbs/Douala
*stdmscldb  mscomp.db1
*stdmould  mould.db1 # mould isopleths
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*stdpredef  predefined.db1
*slr_half_hr   0  # solar timing hour centred
*sitealt    0.0
*quick_run   0  # no
*ctl  ../ctl/PVT_Douala.ctl
*contents PVT_Douala_S_bouy_PVtype_1.contents
*calename standard weekday Sat Sun hol
*calentag weekdays, weekdays (all year), 260
*calentag saturday, Saturdays (all year),  52
*calentag sunday, Sundays (all year),  52
*calentag holiday, holiday,   1
*list    4
 4,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3
*end_list
*year  2006 # assessment year
*water_in_zones 0.6  998.2 4190.0    0.0 # water cond density spec ht shortwave abs
*rif  ../rad/PVT_Douala.rcf
*spf  ../dbs/PV_panels_1.spm
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    1  21   4  10   4   0
   5  10  10   4   0   9   1  15   1  default # period & name
*sblr PVT_Douala.res
*sflr PVT_Douala.mfr
*end_set
*end_sps
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
*B-CITY not yet defined
*B-POSTCODE not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
*O-CITY not yet defined
*O-POSTCODE not yet defined
*O-TELEPHONE not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
*C-CITY not yet defined
*C-POSTCODE not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
../doc/PVT_Douala.log
* Building
Small model as cross check on PVT performance in Douala
     21  # no of zones
*zon   1   # reference for Z00         
*opr ../zones/Z00.opr  # schedules
*geo ../zones/Z00.geo  # geometry
*con ../zones/Z00.con  # construction
*zend 
*zon   2   # reference for Z00_PVT_W1  
*opr ../zones/Z00_PVT_W1.opr  # schedules
*geo ../zones/Z00_PVT_W1.geo  # geometry
*con ../zones/Z00_PVT_W1.con  # construction
*tmc ../zones/Z00_PVT_W1.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon   3   # reference for Z00_PVT_W2  
*opr ../zones/Z00_PVT_W2.opr  # schedules
*geo ../zones/Z00_PVT_W2.geo  # geometry
*con ../zones/Z00_PVT_W2.con  # construction
*tmc ../zones/Z00_PVT_W2.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon   4   # reference for Z00_PVT_W3  
*opr ../zones/Z00_PVT_W3.opr  # schedules
*geo ../zones/Z00_PVT_W3.geo  # geometry
*con ../zones/Z00_PVT_W3.con  # construction
*tmc ../zones/Z00_PVT_W3.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon   5   # reference for Z00_PVT_E1  
*opr ../zones/Z00_PVT_E1.opr  # schedules
*geo ../zones/Z00_PVT_E1.geo  # geometry
*con ../zones/Z00_PVT_E1.con  # construction
*tmc ../zones/Z00_PVT_E1.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon   6   # reference for Z00_PVT_E2  
*opr ../zones/Z00_PVT_E2.opr  # schedules
*geo ../zones/Z00_PVT_E2.geo  # geometry
*con ../zones/Z00_PVT_E2.con  # construction
*tmc ../zones/Z00_PVT_E2.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon   7   # reference for Z00_PVT_E3  
*opr ../zones/Z00_PVT_E3.opr  # schedules
*geo ../zones/Z00_PVT_E3.geo  # geometry
*con ../zones/Z00_PVT_E3.con  # construction
*tmc ../zones/Z00_PVT_E3.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon   8   # reference for Z20         
*opr ../zones/Z00.opr  # schedules
*geo ../zones/Z20.geo  # geometry
*con ../zones/Z00.con  # construction
*zend 
*zon   9   # reference for Z20_PVT_W1  
*opr ../zones/Z00_PVT_W1.opr  # schedules
*geo ../zones/Z20_PVT_W1.geo  # geometry
*con ../zones/Z00_PVT_W1.con  # construction
*tmc ../zones/Z00_PVT_W1.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon  10   # reference for Z20_PVT_W2  
*opr ../zones/Z00_PVT_W2.opr  # schedules
*geo ../zones/Z20_PVT_W2.geo  # geometry
*con ../zones/Z00_PVT_W2.con  # construction
*tmc ../zones/Z00_PVT_W2.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon  11   # reference for Z20_PVT_W3  
*opr ../zones/Z00_PVT_W3.opr  # schedules
*geo ../zones/Z20_PVT_W3.geo  # geometry
*con ../zones/Z00_PVT_W3.con  # construction
*tmc ../zones/Z00_PVT_W3.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon  12   # reference for Z20_PVT_E1  
*opr ../zones/Z00_PVT_E1.opr  # schedules
*geo ../zones/Z20_PVT_E1.geo  # geometry
*con ../zones/Z00_PVT_E1.con  # construction
*tmc ../zones/Z00_PVT_E1.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon  13   # reference for Z20_PVT_E2  
*opr ../zones/Z00_PVT_E2.opr  # schedules
*geo ../zones/Z20_PVT_E2.geo  # geometry
*con ../zones/Z00_PVT_E2.con  # construction
*tmc ../zones/Z00_PVT_E2.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon  14   # reference for Z20_PVT_E3  
*opr ../zones/Z00_PVT_E3.opr  # schedules
*geo ../zones/Z20_PVT_E3.geo  # geometry
*con ../zones/Z00_PVT_E3.con  # construction
*tmc ../zones/Z00_PVT_E3.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon  15   # reference for Z40         
*opr ../zones/Z00.opr  # schedules
*geo ../zones/Z40.geo  # geometry
*con ../zones/Z00.con  # construction
*zend 
*zon  16   # reference for Z40_PVT_W1  
*opr ../zones/Z00_PVT_W1.opr  # schedules
*geo ../zones/Z40_PVT_W1.geo  # geometry
*con ../zones/Z00_PVT_W1.con  # construction
*tmc ../zones/Z00_PVT_W1.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon  17   # reference for Z40_PVT_W2  
*opr ../zones/Z00_PVT_W2.opr  # schedules
*geo ../zones/Z40_PVT_W2.geo  # geometry
*con ../zones/Z00_PVT_W2.con  # construction
*tmc ../zones/Z00_PVT_W2.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon  18   # reference for Z40_PVT_W3  
*opr ../zones/Z00_PVT_W3.opr  # schedules
*geo ../zones/Z40_PVT_W3.geo  # geometry
*con ../zones/Z00_PVT_W3.con  # construction
*tmc ../zones/Z00_PVT_W3.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon  19   # reference for Z40_PVT_E1  
*opr ../zones/Z00_PVT_E1.opr  # schedules
*geo ../zones/Z40_PVT_E1.geo  # geometry
*con ../zones/Z00_PVT_E1.con  # construction
*tmc ../zones/Z00_PVT_E1.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon  20   # reference for Z40_PVT_E2  
*opr ../zones/Z00_PVT_E2.opr  # schedules
*geo ../zones/Z40_PVT_E2.geo  # geometry
*con ../zones/Z00_PVT_E2.con  # construction
*tmc ../zones/Z00_PVT_E2.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*zon  21   # reference for Z40_PVT_E3  
*opr ../zones/Z00_PVT_E3.opr  # schedules
*geo ../zones/Z40_PVT_E3.geo  # geometry
*con ../zones/Z00_PVT_E3.con  # construction
*tmc ../zones/Z00_PVT_E3.tmc  # transparent constr
*ihc ../zones/Zxx_PVT.htc  # convective hc coef
*zend 
*cnn PVT_Douala.cnn  # connections
   1   # fluid flow network:
../nets/no_flow_S.afn    # leakage description
 0,Z00_PVT_W1,Z00_PVT_W2,Z00_PVT_W3,Z00_PVT_E1,Z00_PVT_E2,Z00_PVT_E3,0,Z20_PVT_W1,Z20_PVT_W2,Z20_PVT_W3,Z20_PVT_E1, 
 Z20_PVT_E2,Z20_PVT_E3,0,Z40_PVT_W1,Z40_PVT_W2,Z40_PVT_W3,Z40_PVT_E1,Z40_PVT_E2,Z40_PVT_E3
